@{
	Layout = "_Layout";
	ViewData["Title"] = "Investments suitable for all";
}
@section AdditionalMeta
{
	<meta name="description" content="CBM Developments - Investments. Discover how an investment in CBM Developments could return a tidy profit for you." />
	<meta name="robots" content="index, follow">
	<meta property="og:title" content="CBM Developments | Investments" />
	<meta property="og:description" content="CBM Developments - Investments. Discover how an investment in CBM Developments could return a tidy profit for you." />
	<meta property="og:locale" content="en_UK" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="CBM Developments" />
}
<div class="row">
	<div class="col-sm-12">
		<div class="header-wrapper header-image investments">
			<h1>
				Invest with CBM Developments
			</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="sub-nav">
		</div>
	</div>
</div>
<div class="container mt-5">
	<div class="row">
		<div class="col-12 text-center">
			<h2>CBM Developments is working with investors.</h2>
			<p>An investment in CBM Developments is a great way to make strong returns on any funds you may have sitting in the bank that are currently earning very little interest.</p>
			<p>Here are a few of the reasons why CBM Developments is perfect for <strong>you</strong>!</p>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-3">
			<img alt="Partnership On Projects" class="img-fluid" src="~/img/conversation.png" style="max-height: 200px" />
		</div>
		<div class="col-sm-9 text-right align-self-center">
			<p><strong>Partnership On Projects</strong></p>
			<p>
				We believe that no matter your level of investment, or level of experience, a partnership should be just that.
				CBM Developments will be in contact as much or as little as you desire. Whether you want to be kept up to date with every stage of development,
				or simply want to leave it in our hands - we will work with your best interests in mind.
			</p>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-9 align-self-center">
			<p><strong>Return On Investment</strong></p>
			<p>
				An investment can provide returns of up to 12% a year - perfect if you have funds currently sitting in the
				bank earning very little interest! Get in touch and we can discuss an investment plan tailored to you.
			</p>
		</div>
		<div class="col-sm-3 text-right">
			<img alt="Return On Investment" class="img-fluid" src="~/img/invest.png" style="max-height: 200px" />
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-3">
			<img alt="Trust and Security Guaranteed" class="img-fluid" src="~/img/securehome.png" style="max-height: 200px" />
		</div>
		<div class="col-sm-9 text-right align-self-center">
			<p><strong>Trust and Security</strong></p>
			<p>
				We want to make sure an investment is right for you. To do this it's important you have the opportunity to ask questions as well as
				feel safe and secure in the projects you will be investing in - which is exactly what we offer. If you have different ideas,
				we are happy to explore and discuss opinions on those as well.
			</p>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-9 text-right align-self-center">
			<p><strong>Flexible Around You</strong></p>
			<p>
				We aim to develop a lasting relationship with all investors. Whether you prefer a short one-off investment plan or a plan spanning multiple projects,
				get in touch and we can discuss your needs and how CBM Developments can match them.
			</p>
		</div>
		<div class="col-sm-3">
			<img alt="Flexible around you" class="img-fluid" src="~/img/celebrate.png" style="max-height: 200px" />
		</div>
	</div>
	<hr />
	<div class="row pb-5">
		<div class="col-12 text-center">
			<h2>Interested? Drop us a message today for a no obligation chat!</h2>
			<a class="button btn-confirm contact-us" asp-area="" asp-controller="Home" asp-action="ContactUs"><i class="far fa-paper-plane fa-fw"></i> Contact us today!</a>
		</div>
	</div>
</div>