/*******
* MODAL
*******/

.cbm-modal {
	background: white;
	width: 70%;
	max-width: 950px;
	max-height: 100%;
	outline: none !important;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	border: none;
	position: fixed;
	top: 50%;
	left: 50%;
	display: block;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10000;
}

.cbm-modal-overlay {
	background: #000000;
	opacity: 0.7;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.cbm-modal-close-link {
	color: #000000;
	position: absolute;
	right: 1.5em;
	top: 1em;
	z-index: 10001;
}

.scrolling-content {
	max-height: calc(70vh);
	overflow: auto;
}

@media screen and (max-width: 767px) {
	.cbm-modal {
		width: 100%;
	}
}