@{
	ViewData["Title"] = "Error";
}
@section AdditionalMeta
{
	<meta name="robots" content="noindex, nofollow">
}
<div class="row">
	<div class="col-sm-12">
		<div class="header-wrapper header-image investments">
			<h1>
				Sorry! Something went wrong!
			</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="sub-nav">
		</div>
	</div>
</div>
<div class="container mt-5">
	<div class="row">
		<div class="col-12 text-center">
			<h2>We're very sorry, something appears to have gone wrong.</h2>
			<br />
			<h2>Please click the button below to return to the site. If the problem persist please get in touch using the information in the page footer.</h2>
			<a class="button btn-confirm" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
		</div>
	</div>
</div>